.navbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 83.5%;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.navbar.extended {
    width: 95.5%;
    transition: all 0.3s ease;
}

.navbar-menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.navbar-menu-icon .anticon.anticon-menu {
    padding: 8px 0 8px 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.selected {
    color: rgb(255, 205, 68);
    /* Hoặc bất kỳ kiểu nào bạn mong muốn */
    font-weight: bold;
}