.infographic-intro,
.infographic-conclusion {
    padding: 0px 20px;
    background: #fff;
    font-size: 18px;
}

.infographic-intro h1 {
    color: #e74c3c;
    display: flex;
    justify-content: center;
}

.infographic-intro div,
.infographic-conclusion div {
    text-align: justify;
    line-height: 1.6;
    color: #333;
    font-size: 20px;
}

.infographic-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
    /* auto-fit: tự động số cột
       minmax(300px, 1fr): card nhỏ nhất 300px, lớn nhất full */
    gap: 20px;
    padding: 30px;
}

.compare-card,
.timeline-card {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ant-card-head-title {
    font-weight: bold;
    font-size: 20px;
}

.infographic-container {
    padding: 30px;
}

.intro-card,
.compare-card,
.timeline-card,
.conclusion-card {
    margin-bottom: 30px;
}

/* Tablet */
@media (max-width: 1024px) {
    .infographic-container {
        grid-template-columns: 1fr;
        /* xuống 1 cột */
    }

    .infographic-comparison,
    .infographic-timeline {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        width: 100%;
    }

    .compare-card,
    .timeline-card table {
        width: 100%;
        max-width: 950px !important;
        /* để có thể scroll ngang */
        border-collapse: collapse;
        table-layout: auto;
        /* cho phép cột co theo nội dung */
    }
}

/* Mobile */
@media (max-width: 768px) {
    .infographic-container {
        grid-template-columns: 1fr;
        /* chắc chắn 1 cột */
        padding: 10px;
        /* giảm padding cho gọn */
    }








    .ant-card-head-title {
        font-size: 15px;
    }

    .infographic-intro div,
    .infographic-conclusion div {
        font-size: 16px;
        /* chữ nhỏ hơn chút */
    }
}